@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #0f94c9;
  --on-main-color: #087aa7;
  --bg-color1: rgb(29, 29, 29);
  --bg-color2: rgba(19, 19, 19, 0.575);
  --bg-onColor2: rgba(14, 14, 14, 0.575);
  --bg-color2nonTransp: #171717;
  --bg-onColor2nonTransp: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #f1f1f1;
}

/* >>>>>>>>>> -- PARTS OF UI -- <<<<<<<<<< */

.body {
  background: var(--bg-color1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--bg-color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.footer {
  background: var(--bg-color2);
  padding: 20px 10%;
}

.footer p {
  text-align: center;
  color: rgb(119, 119, 119);
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  user-select: none;
}

.logo-big {
  font-size: 65px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  user-select: none;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  user-select: none;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.sec-home {
  display: flex;
  align-items: center;
  padding: 0 50px;
  width: 1300px;
}

.sec-home-content {
  width: 100%;
}

/* >>>>>>>>>> -- UI ELEMENTS -- <<<<<<<<<< */

.separator {
  height: 2px;
  background-color: rgb(17, 17, 17);
}

.card {
  background-color: var(--bg-color2nonTransp);
  border-radius: 15px;
  padding: 15px;
  transition: .3s;
}

.card:hover {
  background-color: var(--bg-onColor2nonTransp);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.329);
}

.button-p {
  background-color: var(--main-color);
  text-decoration: none;
  padding: 7px 25px;
  height: 40px;
  border-radius: 10px;
  user-select: none;
  transition: .2s;
  overflow: hidden;
  position: relative;
}

.button-p:hover {
  background-color: var(--on-main-color);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.459);
}

.button-s {
  background-color: transparent;
  text-decoration: none;
  padding: 7px 25px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  user-select: none;
  transition: .2s;
  overflow: hidden;
  position: relative;
}

.button-s:hover {
  background-color: var(--on-main-color);
  border: 2px solid var(--on-main-color);
}

/* >>>>>>>>>> -- OTHER -- <<<<<<<<<< */

span {
  position: absolute;
  background: #fff;
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 800ms linear infinite;
}
@keyframes animate {
  0%
  {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100%
  {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}